<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choose Payment Method</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
      }

      .form-container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 400px;
        text-align: center; /* Center align content within the form-container */
      }

      .payment-method {
        margin-top: 20px;
      }

      .payment-method select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      }

      .payment-details {
        margin-top: 20px;
      }

      .payment-details input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 16px;
      }

      .button-container {
        text-align: center;
        margin-top: 20px;
      }

      .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #009688;
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
      }

      .button:hover {
        background-color: #007a6e;
      }
    </style>
  </head>
  <body>
    <div class="form-container">
      <img
        src="https://html.geekcodelab.com/holiday-planners/assets/images/logo.png"
        alt="Your Logo"
      />

      <form action="/payment-processing" method="post">
        <div class="payment-method">
          <h2>Payment Method</h2>
          <select name="payment_method">
            <option value="credit_card">Credit card</option>
            <option value="debit_card">Debit card</option>
            <option value="paypal">PayPal</option>
          </select>
        </div>

        <div class="payment-details">
          <h2>Payment Details</h2>
          <input type="text" name="card_number" placeholder="Card number" />
          <input
            type="text"
            name="card_holder_name"
            placeholder="Card holder
          name"
          />
          <div class="flex-container">
            <input
              type="number"
              name="expiration_month"
              placeholder="Expiration month"
            />
            <input
              type="number"
              name="expiration_year"
              placeholder="Expiration year"
            />
            <input type="text" name="cvv" placeholder="CVV" />
          </div>
        </div>
        <div class="button-container">
          <a href="/logout" class="button">Pay now</a>
        </div>
      </form>
      <div class="col-sm-6">
        <div class="well">
          <h3 class="text-danger">
            <span class="fa fa-google-plus" aria-hidden="true">User Data:</span>
          </h3>

          <p>
            <strong>email</strong>:<%= email %><br />
            <strong>name</strong>:<%= name %><br />
            <strong>pic</strong>:<img
              src="<%= pic %>"
              width="100"
              height="100"
              alt=""
            /><br />
          </p>
          <div class="button-container">
            <a href="/logout" class="button">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
